:root {
  --fondo: rgb(210, 212, 231);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(img/fondo.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#formulario {
  display: flex;
  height: 75%;
  width: 650px;
 
  flex-direction: column;

  align-items: center;

  background-color: var(--fondo);
}